.shortcut-item {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortcut-item__icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--shortcut-item-icon-color);
    border: 0.5px solid #A4874380;
    border-radius: 10px;
}

.shortcut-item__icon--primary {
    --shortcut-item-icon-color: #A48743B2;
}

.shortcut-item__icon--normal {
    --shortcut-item-icon-color: #97979733;
}

.shortcut-item__icon--danger {
    --shortcut-item-icon-color: #F4A8A833;
}

.shortcut-item__name {
    text-align: center;
    padding: var(--space-4) 0 0;
    color: var(--color-gray-1);
    font-size: var(--font-size-s);
}
