.control-display {
    --control-display-height: 37px;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: var(--control-display-height);
    padding: 0 var(--space-8) var(--space-1);
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, rgba(247, 236, 160, 0) 0%, rgba(216, 189, 112, 0.8) 25%, rgba(185, 141, 63, 0.8) 50%, rgba(216, 189, 112, 0.8) 75%, rgba(247, 236, 160, 0) 100%) 1;
}

.control-display__title {
    padding-right: var(--space-8);
    color: var(--color-primary);
    font-size: var(--font-size-l);
}

.control-display__list {
    display: flex;
}

.control-display__item {
    color: var(--color-gray-1);
    font-size: var(--font-size-m);
    background-color: transparent;
    padding: 0 var(--space-7);
    border: none;
    border-left: 0.5px solid var(--color-gray-1);
    border-right: 0.5px solid var(--color-gray-1);
    cursor: pointer;

    &:nth-child(1) {
        padding-left: 0;
        border-left-color: transparent;
    }

    &:last-child {
        padding-right: 0;
        border-right-color: transparent;
    }
}